@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#header {
    background-color: #85CDF5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;  /*Importante para o padding*/
    padding: 0.5rem 0;
}

#right_div{
    position: relative;
}

#left_div {
    position: relative;
}

.rhover_effect {
    background-color: black;
    width: 5.9rem;
    height: 0.25rem;
    border-radius: 3px;
    position: absolute;
    top: 32px;
    right: 0;
    display: none;
}

.lhover_effect {
    background-color: black;
    width: 8.5rem;
    height: 0.25rem;
    border-radius: 3px;
    position: absolute;
    top: 32px;
    left: 0;
    display: none;
}

#header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

#header a:hover ~ .rhover_effect {
    display: block;
}

#header a:hover ~ .lhover_effect {
    display: block;
}


#footer {
    background-color: #232323;
    color: white;
    height: 16.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
#map {
    width: 15.625rem;
    height: 10.5rem;
}

#about_us {
    width: 23.625rem;
    height: 10.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#adress {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#adress_icon {
    height: 19px;
}

#telephone_number {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#tel_icon {
    height: 14px;
}

#email {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#email_icon {
    height: 11.79px;
}

#about_button {
    background-color: #DDB959;
    border: 0rem;
    width: 9rem;
    height: 1.875rem;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

#about_button:hover {
    background-color: #a38942;
}

#partnership {
    width: 9rem;
    height: 10.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 13rem;
}

#partnership p {
    padding: 0.3rem 0 0.8rem 0;
}

#partnership img {
    height: 104px;
    width: 104px;
}

main {
    width: 60%;
    margin: auto;
    font-family: sans-serif;
}

.div_wolf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
}

.div_wolf2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 3rem;
}

.name_wolf {
    font-family: sans-serif;
    margin-bottom: 0.5rem;
}

.t_text {
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 1rem;

}


.age {
    font-family: sans-serif;
    color: gray;
    margin-bottom: 1rem;
    font-size: 0.8rem
}

.name_wolf2 {
    font-family: sans-serif;
    margin-bottom: 0.5rem;
    text-align: right;
}

.t_text2 {
    font-family: sans-serif;
    text-align: right;
    margin-bottom: 1rem;

}


.age2 {
    font-family: sans-serif;
    color: gray;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-align: right;
}

.owner {
    font-weight: bold;
    text-align: left;
}

.owner2 {
    font-weight: bold;
    text-align:right;
}

.box{
    position: relative;
    width: 50%;
    height: 20vw;
}

.back {
    background-color: rgb(44, 86, 128);
    position: relative;
    width: 95%;
    height: 95%;  
    border: 3px solid #000;
    
}

.img_wolves{
    position: absolute;
    width: 95%;
    height: 95%;
    top: 1.5rem;
    left: 1.5rem;
    
}
.back2 {
    background-color: rgb(44, 86, 128);
    position: relative;
    width: 95%;
    height: 95%;  
    border: 3px solid #000;
    left: 1.5rem;
    
}

.img_wolves2{
    position: absolute;
    width: 95%;
    height: 95%;
    top: 1.5rem;   
     
}

.img_wolf{
    width: 48%;
}

.div_text{
    width: 48%;
    position: relative;
}

.button_adt{
    width: 5rem;
    height: 2rem;
    background-color:#DDB959;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-family: sans-serif;
    font-size: 1.3rem;
}

.button_ad{
    width: 6rem;
    height: 2rem;
    background-color: rgb(27, 150, 16);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-family: sans-serif;
    font-size: 1.3rem;
}

.button_adt2{
    width: 5rem;
    height: 2rem;
    background-color:#DDB959;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0rem;
    left: 0rem;
    font-family: sans-serif;
    font-size: 1.3rem;
}

.button_ad2{
    width: 6rem;
    height: 2rem;
    background-color: rgb(27, 150, 16);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0rem;
    left: 0rem;
    font-family: sans-serif;
    font-size: 1.3rem;
}

.search {
    width: 54%;
    margin: auto;
    justify-content: space-between ;
    flex-direction: row;
    display: flex;
}
.search2 {
    width: 50%;
    margin: auto;
    justify-content:flex-start ;
    flex-direction: row;
    display: flex;
    margin-bottom: 1rem;
}
.input_search{
    width: 80%;
    height: 1.5rem;
    border: 0px ;
    box-shadow: 0 0 0 0;
    outline: 0;
    
}
.search_icon{
    width: 80%;
    height: 2.0rem;
    border: 1px solid #000;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.icon {
    width: 2rem;
}

.button_search{
    width: 7rem;
    height: 1.9rem;
    background-color: #DDB959;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.2rem;
    border: 0rem;
    margin: 1rem
}

.navigation_numbers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.navigation_numbers a {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.div_nFind {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 45vh;
    font-size: 1.5rem;
}


@media only screen and (max-width: 1100px) {

    main {
        width: 90%;
        margin: auto;
    }
    .div_wolf {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    
    .div_wolf2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    .img_wolf{
        width: 100%;
    }
    
    .div_text{
        width: 100%;
        position: relative;
    }

    .box{
        position: relative;
        width: 100%;
        height: 60vw;
        margin-bottom: 2rem;
    }

    .search {
        width: 90%;
    }
    .search2 {
        width: 90%;
    }
    
}

@media screen and (max-width:1190px) {
    #partnership {
            padding-left: 5rem;
        }
    }

@media screen and (max-width:1060px) {
#partnership {
        padding-left: 0;
    }
}

@media screen and (max-width:890px) {
    #footer {
        justify-content: space-evenly;
        gap: 2rem;
        }

    #map {
        display: none;
    }
}

@media screen and (max-width:676px) {
    #footer {
        padding: 0 1rem;
        gap: 5rem;
    }
}

@media screen and (max-width:500px) {
    #footer {
        flex-direction: column;
        justify-content: center;
        height: 25rem;
        gap: 2rem;
    }

    #abous_us {
        margin-top: 1rem;
    }

    #partnership {
        justify-content: center;
    }
} 
